<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter the Message Here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <h2>Entered Text:</h3>
                    <p id="mytext"></p>
                    <ul>
                        <li>
                          <h3>Text Polarity:</h3>
                          <p id="text_polarity"></p>
                          <h4>Confidence:</h4>
                          <p id="text_polarity_confidence"></p>
                        </li>
                        <li>
                          <h3>Text Subjectivity:</h3>
                          <p id="text_subjectivity"></p>
                          <h4>Confidence:</h4>
                          <p id="text_subjectivity_confidence"></p>
                        </li>
                      </ul>
                </div>
                
            </section>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
